# Atividade prática: Mineração de Dados - Semana 02

Notebook criado para acompanhar as atividades práticas da Semana 02, apresentadas pela disciplina de **Mineração de Dados** da **UNIVESP**.

### Objetivo da Semana 02:
Fazer o pré-processamento de uma base de dados, aplicando técnicas de limpeza de dados para lidar com dados incompletos e inconsistentes.

### Sobre o dataframe:
A base de dados de exemplo simula registros de casos de pessoas que foram
infectadas com a COVID-19 no Brasil.

O **dicionário de dados** da base é o seguinte:

• id: campo identificador do registro;  
• idade: idade da pessoa;  
• uf: estado onde a pessoa foi diagnosticada;  
• renda: classe social a qual a pessoa pertence, variando entre A e E;  
• vacina: indica se a pessoa foi vacinada (1) ou não (0).

In [ ]:
import pandas as pd

In [ ]:
casos_covid = pd.read_csv("https://raw.githubusercontent.com/higoramario/univesp-com360-mineracao-dados/main/dados-covid-limpeza.csv")

In [ ]:
casos_covid.head(20)

    id  idade   uf renda  vacina
0    1   15.0   SP     C       1
1    2   38.0   MG   NaN       0
2    3   49.0   RJ     C       0
3    4   71.0   BA   NaN       0
4    5   58.0   MG     D       1
5    6   26.0   SP     B       0
6    7   87.0   BA   NaN       1
7    8   56.0   MG     A       1
8    9   74.0   BA   NaN       0
9   10   54.0   SP   NaN       0
10  11   22.0  NaN     C       1
11  12   38.0  NaN     C       0
12  13   14.0   RJ   NaN       1
13  14    NaN  NaN     C       0
14  15   84.0   RS     D       1
15  16    NaN  NaN   NaN       0
16  17    NaN   SP     E       0
17  18   68.0  NaN   NaN       0
18  19   61.0   sp     D       0
19  20    NaN   RS     E       1

Ao visualizar os 20 primeiros registros do dataframe, já é possível notar a existência de valores ausentes (NaN), e também inconsistências no preenchimento da coluna UF (por exemplo: **SP, sp**).

Com a função `info`, além de verificar os tipos de cada coluna, é possível obter a contagem de registros não nulos (non-null) em cada uma. Dessa forma, podemos ver que a coluna `idade` tem 20 registros nulos, a coluna `uf` tem 21, e a coluna `renda`, 19.

In [ ]:
casos_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      50 non-null     int64
 1   idade   30 non-null     float64
 2   uf      29 non-null     object
 3   renda   31 non-null     object
 4   vacina  50 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 2.1+ KB

A função `describe()` é utilizada para verificar estatísticas básicas da coluna `idade`, a única com dados numéricos adequados para essa análise. É possível ver que a **média** de idade é de **48,6** anos, com um **desvio padrão** de **22,2**, aproximadamente. A menor idade no dataframe é 14, e a maior, 87.  
Essas informações, como a média, podem ser usadas para preencher os valores ausentes nessa coluna.

In [ ]:
casos_covid.describe()

             id      idade    vacina
count  50.00000  30.000000  50.00000
mean   25.50000  48.666667   0.30000
std    14.57738  22.197131   0.46291
min     1.00000  14.000000   0.00000
25%    13.25000  33.500000   0.00000
50%    25.50000  48.500000   0.00000
75%    37.75000  61.000000   1.00000
max    50.00000  87.000000   1.00000

Utilizando a função `value_counts()` na coluna `uf` é possível verificar outras inconsistências nessa coluna, como:  
* SP e sp
* CE e ce
* RJ e rj.

In [ ]:
casos_covid['uf'].value_counts()

uf
SP    9
MG    5
BA    3
RS    3
RJ    2
PE    2
sp    1
ce    1
rj    1
CE    1
AM    1
Name: count, dtype: int64

Para corrigir essa inconsistência, utilizamos a função `upper()` para capitalizar todos os valores da coluna `uf`.

Ao usar a função `value_counts()` novamente, confirmamos que o problema foi corrigido e notamos que o estado de **SP** é o que possui o maior número de casos de COVID-19 no dataframe, seguido por **MG** e **RJ**. O estado com o menor número de notificações é o **AM**.

In [ ]:
casos_covid['uf'] = casos_covid['uf'].str.upper()
casos_covid['uf'].value_counts()

uf
SP    10
MG     5
RJ     3
BA     3
RS     3
CE     2
PE     2
AM     1
Name: count, dtype: int64

Analisando os valores não nulos da coluna `renda` com a função `value_counts()`, observamos que a maioria pertence à **classe C**, seguida pelas classes **D** e **B**:

In [ ]:
casos_covid['renda'].value_counts()

renda
C    14
D     7
B     4
A     3
E     3
Name: count, dtype: int64

Ao usar a função `value_counts()` na coluna vacina, obtemos que 35 registros indicam pessoas não vacinadas **(0)**, e 15 indicam pessoas que se vacinaram **(1)**.  
Essa distribuição de dados pode ser utilizada para análises futuras, como a taxa de vacinação dentro do dataset.

In [ ]:
casos_covid['vacina'].value_counts()

vacina
0    35
1    15
Name: count, dtype: int64

Para preencher os valores ausentes da coluna `idade`, optou-se por usar um valor constante global: a **média** das idades no dataframe.

A função `fillna()` permite preencher os valores nulos com um valor passado como parâmetro. Como a idade é um valor inteiro, a média (`mean()`) foi arredondada com a função `round()`. Dessa forma, o valor constante atribuído é **49**.

In [ ]:
casos_covid['idade'] = casos_covid['idade'].fillna(round(casos_covid['idade'].mean()))

Usando a função `value_counts()` na coluna `idade`, observamos que 21 registros foram preenchidos com o valor 49. Desses, 20 correspondem aos valores que, anteriormente, eram nulos.

In [ ]:
casos_covid['idade'].value_counts()

idade
49.0    21
38.0     2
87.0     2
26.0     2
84.0     2
61.0     2
54.0     2
71.0     1
56.0     1
58.0     1
15.0     1
74.0     1
14.0     1
22.0     1
68.0     1
35.0     1
37.0     1
48.0     1
20.0     1
41.0     1
57.0     1
45.0     1
33.0     1
17.0     1
Name: count, dtype: int64

Para a coluna `uf`, a imputação será feita usando o método `ffill` (*forward fill*), que preenche os valores nulos com o último valor válido encontrado antes deles.

A função `value_counts()` é usada novamente para verificar o resultado da alteração. É importante notar que, após essa imputação, o estado de **MG** deixou de ser o segundo com mais notificações de casos de COVID-19.

In [ ]:
casos_covid['uf'] = casos_covid['uf'].ffill()
casos_covid['uf'].value_counts()

uf
SP    20
RJ     6
RS     6
MG     5
PE     5
CE     4
BA     3
AM     1
Name: count, dtype: int64

Para a coluna renda, usamos o método `bfill` (*backward fill*), que preenche os valores nulos com o próximo valor válido encontrado.

Ao usar a função `value_counts()`, notamos que a proporção das classes da coluna foi mantida após as alterações.

In [ ]:
casos_covid['renda'] = casos_covid['renda'].bfill()
casos_covid['renda'].value_counts()

renda
C    22
D    12
B     6
A     5
E     5
Name: count, dtype: int64

Ao usar a função `info()` novamente, após o tratamento dos dados, notamos que não há mais valores nulos no dataframe.

In [ ]:
casos_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      50 non-null     int64
 1   idade   50 non-null     float64
 2   uf      50 non-null     object
 3   renda   50 non-null     object
 4   vacina  50 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 2.1+ KB

Por fim, é possível visualizar o dataframe completo:

In [ ]:
casos_covid.head(len(casos_covid))

    id  idade  uf renda  vacina
0    1   15.0  SP     C       1
1    2   38.0  MG     C       0
2    3   49.0  RJ     C       0
3    4   71.0  BA     D       0
4    5   58.0  MG     D       1
5    6   26.0  SP     B       0
6    7   87.0  BA     A       1
7    8   56.0  MG     A       1
8    9   74.0  BA     C       0
9   10   54.0  SP     C       0
10  11   22.0  SP     C       1
11  12   38.0  SP     C       0
12  13   14.0  RJ     C       1
13  14   49.0  RJ     C       0
14  15   84.0  RS     D       1
15  16   49.0  RS     E       0
16  17   49.0  SP     E       0
17  18   68.0  SP     D       0
18  19   61.0  SP     D       0
19  20   49.0  RS     E       1
20  21   49.0  RS     D       1
21  22   35.0  SP     D       0
22  23   37.0  SP     C       1
23  24   48.0  RS     C       0
24  25   49.0  RS     C       0
25  26   49.0  CE     C       1
26  27   20.0  CE     B       0
27  28   49.0  SP     B       0
28  29   49.0  SP     D       0
29  30   41.0  RJ     D       1
30  31   49.0  RJ     B       0
31  32   87.0  RJ     A       0
32  33   49.0  SP     A       1
33  34   49.0  SP     C       0
34  35   26.0  CE     C       0
35  36   49.0  CE     C       1
36  37   49.0  SP     D       0
37  38   84.0  SP     C       0
38  39   49.0  SP     A       0
39  40   54.0  PE     B       0
40  41   61.0  PE     B       0
41  42   49.0  PE     C       0
42  43   49.0  SP     C       0
43  44   57.0  SP     C       0
44  45   45.0  SP     D       0
45  46   33.0  AM     D       0
46  47   49.0  PE     E       0
47  48   49.0  PE     E       0
48  49   49.0  MG     C       1
49  50   17.0  MG     C       0